body {
  font-family: Verdana; sans-serif;
  background-color: black;
  text-align: center;
}

.main-header {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.download-link {
  color: aquamarine;
  font-size: 16px;
}

.subheader {
  font-weight: 300;
  font-size: 42px;
  color: white;-
}

p {
  font-size: 21px;
  color: gray;
}
